{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Booking</title>
    <link rel="stylesheet" href="{% static 'styles/style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>หน้าแรกของเว็บไซด์</title>
  {% block title %}
  {% endblock %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RESERVATION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" href="/"> home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">about us</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="login/">booking</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="login/">contact</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="login/">login user</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'admin' %}">login admin</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="my_booking/">user status</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="logout/">log out</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

</head>
<body>
    <h1>Room currently available</h1>
    <form method = "post" action = "">
        {% csrf_token %}

    <ul>
        {% for room in rooms %}
            <li class="room-card">
                <h2>{{ room.room_name }}</h2>
                <p>Code: {{ room.room_code }}</p>
                <p>Capacity: {{ room.room_capacity }}</p>
                <p>Hours: {{ room.available_hours }}</p>
                <button type='summit' ><a href="{% url 'book_room' room.id %}"> จองห้อง </a></button>
            </li>
        {% empty %}
            <p> No rooms available right now</p>
        {% endfor %}
      </ul>
      <div aria-live="polite" aria-atomic="true" class="position-relative">

        {% comment %} แจ้งเตือนว่าจองสำเร็จ : มันขึ้นหน้า login ไม่ใช่หน้าหลัก {% endcomment %}
      {% comment %} <div class="toast-container position-fixed top-0 end-0 p-3">
        {% for message in messages %}
            {% if "booking" in message.tags %}
            <div class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
            {% endif %}
        {% endfor %} 
    </div> {% endcomment %}
</div>

</body>
</html>